#navbarText {
    margin: 20px;
    font-family: 'Patrick Hand', cursive;
}

.navbar {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(169,98,235,1) 50%, rgba(0,212,255,1) 100%);
}

#name {
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
}

.nav-link {
    font-size: 30px;
}

.text-color {
    color: black;
}